.elementor-kit-7 {
    --e-global-color-primary: #0968B8;
    --e-global-color-secondary: #333333;
    --e-global-color-text: #333333;
    --e-global-color-accent: #F3F3F3;
    --e-global-color-066e0a0: #FFFFFF;
    --e-global-typography-primary-font-family: "Raleway";
    --e-global-typography-primary-font-weight: 900;
    --e-global-typography-secondary-font-family: "Raleway";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Raleway";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Raleway";
    --e-global-typography-accent-font-weight: 500;
    background-color: #F9F9F9;
    color: #323232;
    font-family: "Raleway", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-kit-7 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-kit-7 h1 {
    font-family: "United", Sans-serif;
}

.elementor-kit-7 h2 {
    font-family: "United", Sans-serif;
}

.elementor-kit-7 h3 {
    font-family: "United", Sans-serif;
}

.elementor-kit-7 h4 {
    font-family: "United", Sans-serif;
}

.elementor-kit-7 h5 {
    font-family: "United", Sans-serif;
}

.elementor-kit-7 h6 {
    font-family: "United", Sans-serif;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1240px;
}

.e-con {
    --container-max-width: 1240px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 0px;
}

.elementor-element {
    --widgets-spacing: 0px 0px;
    --widgets-spacing-row: 0px;
    --widgets-spacing-column: 0px;
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}